.section {
  padding: 60px 0 40px 0;
  background: #464c55;
}

.container {
  width: 1060px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  opacity: 0.2;
  border-bottom: 1px solid #ffffff;
}
