.card {
  width: 250px;
  height: auto;
  text-align: left;
}

.img {
  margin: 0 15px 0 15px 0;
  width: 220;
  height: 220;
}

.h3 {
  margin: 5px 0 10px 0;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.p {
  padding-bottom: 40px; /* под вопросом*/
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #73798c;
}

.order {
  display: flex;
  justify-content: space-between;
}

.price {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
