.button {
  padding: 9px 29px 9px 29px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background: #f96900;
  border-radius: 1000px;
  border: 0;
  display: block;
  cursor: pointer;
}
.button:active {
  opacity: 0.7;
}