.order {
  padding: 70px 0 70px 0;
  height: max-content;
  width: 610px;
}
.order_title {
  font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 30px;
}
.order_delivery {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.order_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.info {
  font-size: 16px;
  line-height: 22px;
}

.address {
  width: 430px;
  height: 100px;
  background: #FFFFFF;
  border: 1px solid #D1D3D9;
  border-radius: 5px;
  padding: 12px 0 66px 12px;
}
.address:focus {
  outline: none;
}
.details {
  width: 340px;
  height: 500px;
  background-color: #FFFFFF;
  margin-top: 149px;
  box-shadow: 0px 5px 55px rgba(0, 0, 0, 0.05);
  border-radius: 11px;
  padding: 30px;
}
.details_title {
  font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.order_btn {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.link {
  text-decoration: none;
}
.secondlink {
  text-decoration: none;
}