.order {
display: flex;
justify-content: space-between;
}
.order_title {
  font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 30px;
    padding-top: 70px;
}

.order_info{

}
.info {
  font-size: 16px;
  line-height: 22px;
  
}

.address {
  width: 430px;
  height: 100px;
  background: #FFFFFF;
  border: 1px solid #D1D3D9;
  border-radius: 5px;
  padding: 12px 0 66px 12px;
}
.address:focus {
  outline: none;
}
.details {
  width: 500px;
  height: 500px;
  background-color: rgb(233, 233, 233);
  padding-bottom: 70px;
  /* margin-top: 149px; */
  margin-bottom: 70px;
}
