.popular {
  padding-top: 40px;
}
.small_card {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0px 0px 15px rgba(6, 5, 50, 0.05);
  margin: 30px 0 70px 0;
}

.small_text {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.small_price {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.small_img {
  width: 76px;
  height: 76px;
  margin: 14px 22px 14px 18px;
}