.title {
  color: #FFFFFF;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}
.item {
  color: #FFFFFF;
  opacity: 0.7;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;
  text-decoration: none;
}
.item:hover {
 opacity: 1;
}
.about {
  display: grid;
}
.work {
  margin-left: 43px;
  width: 143px;
  max-height: 88px;
  display: grid;
}
.partners {
  width: 154px;
}
.interesting {
  width: 166px;
}